/node_modules
/npm-debug.log
/build
/lib
/coverage
/.nyc_output
/.rpt2_cache
/packages/*/node_modules
/packages/*/npm-debug.log
/packages/*/build
/packages/*/lib
/packages/*/coverage
/packages/*/.nyc_output
/packages/*/.rpt2_cache
package-lock.json
yarn-error.log
lerna-debug.log
.rollupcache
cherow-rewritten.js
