html,
body,
[aurelia-app] {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

[aurelia-app] {
  display: grid;
  grid-template-columns: 1fr .5rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    'top top top'
    'left . right';
}

router-view {
  display: block;
}

.area-top {
  grid-area: top;
}

.area-left {
  grid-area: left;
}

.area-right {
  grid-area: right;
  padding: .5rem 0 0 1rem;
  overflow-y: auto;
}

ast-node {
  font-family: Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
}

ast-node,
ast-list,
ast-obj,
ast-prop {
  display: flex;
  flex-flow: column nowrap;

  position: relative;
  box-sizing: border-box;
  overflow: visible;
  white-space: nowrap;
  vertical-align: bottom;
}

ast-node {
  &>ast-node,
    ast-list,
    ast-obj,
    ast-prop {
      margin-left: 12px;
    }
}

.ast-node-type {
  font-weight: 700;
}
.ast-node-name {
  font-weight: 700;
}
.ast-node-prop {
  display: flex;
  flex-direction: row nowrap;
}

.content-area  {
  border: 1px solid grey;
}
